body {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
  }
  header {
    color: black;
    text-align: center;
    padding: 10px;
  }
  
  /* To style footer: */
  body, html {
      height: 100%;
      margin: 0;
      padding: 0;
  }
  
  main {
      min-height: 70%;
  }
    
  footer {
      height: 40px;
      width: 100%;
      flex-shrink: 0;
      text-align: center;
      padding: 10px 0;
    }
  