body {
  margin: 0;
  padding: 0;
  background-color: #003896;
}
header {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

/* To style footer: */
body, html {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    position: relative;
}
  
footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0;
  }
  